
.bg-primary {
    background-color: #3f51b5 !important;
}

.breadcrumb {
    padding-left: 0;
    padding-top: 26px;
    display: contents;
}

a.breadcrumb-item :hover {

    color: #ffffff !important;
}

li.breadcrumb-item:hover {
    background-color: #ffffff;
    color: #ffffff !important;
}

li.breadcrumb-item:hover::before {
    color: #3f51b5 !important;
}

li.breadcrumb-item:before {
    color: #ffffff !important;
}

li.breadcrumb-item:hover a {
    color: #3f51b5 !important;
}

li.breadcrumb-item a {
    color: #ffffff !important;;
}

.breadcrumb-item + .breadcrumb-item {
    margin-left: -5px;
    padding-left: 0;
}

.breadcrumb-item + .breadcrumb-item:before {
    margin-right: -6px;

}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #3f51b5;
}

li.nav-item {
    list-style-type: none;
}

li.nav-item a, li.nav-item a :hover {
    color: #ffffff !important;
    transition: all .5s
}

.categories-list {
    margin-left: 170px;
}

.zero-url {
    display: none;
}

.navdrawer-header:hover, .navdrawer-header:hover > .navbar-brand {
    background-color: #3f51b5;
    color: #ffffff !important;
    transition: all .5s
}

.navbar-brand {
    color: #3f51b5;
}

.navbar-brand:hover {
    color: #ffffff !important;
    transition: all .5s
}

.navbar-brand:not(:first-child) {
    position: absolute;
    margin-left: 40px;
}

.app-name {
    position: relative;
}

a .nav-link {
    color: #3f51b5 !important;
}

.navdrawer-subheader {
    color: #3f51b5;
}

.navdrawer-subheader:hover {
    background-color: #3f51b5;
    color: #ffffff;
    transition: all .5s
}

a.bitbucket, a.nav-link, a.nav-item {
    color: #3f51b5 !important;
}

a.nav-link:hover, a.nav-item:hover, .bitbucket:hover {
    background-color: #3f51b5 !important;
    color: #ffffff !important;
    transition: all .5s
}

a.main-links:hover {
    background-color: #ffffff !important;
    color: #3f51b5 !important;
    transition: all .5s
}

.main-links.first {
    margin-left: 100px;
}

.root-categories {
    width: 90%;
    margin-left: 5%;
    margin-top: 1%;
    margin-bottom: 6%;
}

a, a :hover {
    color: #3f51b5 !important;
    text-decoration: none !important;
    transition: all .5s
}

.root-category-body:hover {
    background-color: #3f51b5;
    color: #ffffff !important;

    transition: all .5s
}

.white-text-on-hover:hover {
    color: #ffffff !important;
    transition: all .5s
}

.root-category-image {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    transition: all .5s;
}

.root-category-image:hover {
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */

    transition: all .5s;

}

.root-category-image:hover + .root-category-body {
    background-color: #3f51b5;
    color: #ffffff !important;

    transition: all .5s
}

.selected-category {
    background-position: center;
}

.selected-category {
    background-repeat: no-repeat;
    background-size: 100%;
    height: 360px;
}

.themed-text {
    color: #3f51b5;
}

.themed-background {
    background-color: #3f51b5;;
}

.sub-category {
    margin-bottom: 5%;
    width: 30%;
    margin-left: 3%;
    float: left;
    min-height: 300px;
}

.sub-category:first-child {
    margin-top: 1%;
}

.sub-category:last-child {
    margin-bottom: 6%;
}

.product-view-button:hover {
    color: #ffffff !important;
    background-color: #3f51b5;
}

.product-all {
    margin: 1% 0 6% 2%;
    display: flex;
    flex-wrap: wrap;
}

.product-all .card {
    margin: 0.5%;
    width: 23.5% !important;
}

.one-product img {
    max-height: 150px;
}

.one-product div {
    display: inline-block;
    position: relative;
}

.product-image {
    width: 250px;
}

.account-dropdown {
    color: #ffffff !important;
}

.account-dropdown:after {
    content: none;
}

div.dropdown-menu.show {
    left: -33px;
}

.custom-select:focus,
.form-control-file:focus,
.form-control:focus {
    border-color: #3f51b5;
    box-shadow: inset 0 -2px 0 -1px #3f51b5;
}

.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.sign-up-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.sign-up-button, .show > a.item-dropdown {
    color: #3f51b5 !important;

}

button.sign-up-button:hover, .show > a.item-dropdown:hover {
    color: #ffffff !important;
    background-color: #3f51b5 !important;
}

.cart-button {
    position: absolute;
    right: 15%;
}

.cart-image {
    width: 75px;
}

.shopping-cart {
    width: 80%;
    margin: 1% auto;
}

.cart-actions-all {
    display: -webkit-inline-box;
    float: right;
    margin: 18px auto;
}
.cart-actions-total {
    display: -webkit-inline-box;
    float: right;
    margin: -35px 80px;
}
.search-icon {
    cursor: pointer;
}
.search-input {
    text-align: right;
}
.products-favorite-button {
    float: right;
}
.viewed-items {
    margin-bottom: 6% !important;
}

@media screen and (max-width: 768px) {

    li.nav-item a.main-links {
        display: none;
    }

    .app-name {
        display: none;
    }

    .breadcrumb-item + .breadcrumb-item {
        font-size: 60%;
    }

    .breadcrumb-item:first-child + .breadcrumb-item {
        display: none;
    }

    .breadcrumb-item:first-child + .breadcrumb-item:before {
        display: none;
    }

    .breadcrumb-item:nth-child(2) + .breadcrumb-item:before {
        display: none;
    }

    .breadcrumb-item:nth-child(2) + .breadcrumb-item {
        margin-left: -5px;
    }

    .product-all {
        margin: 1% 0 8% 0;
    }

    .product-all .card {
        width: 32.3% !important;
    }
}

@media screen and (max-width: 425px) {

    .breadcrumb-item + .breadcrumb-item {
        font-size: 50%;
        margin-left: -20px;
    }

    .product-all {
        margin: 1% 0 14% 0;
    }

    .product-all .card {
        width: 49% !important;
    }
}

@media screen and (max-width: 375px) {

    .product-all .card {
        width: 99% !important;
    }
}

@media screen and (max-width: 320px) {

}
