
<div class=" root-categories">
<%  root_category.forEach( (cat) => { %>
<a href="/store/<%= cat.id %>" >
 <div class="card mb-3">
     <img class="card-img-top img-fluid root-category-image" src="/img/categories/<%=cat.id%>.jpg" alt="Card image cap">
     <div class="card-body root-category-body">
         <h5 class="card-title white-text-on-hover"><%= cat.page_title %></h5>
         <p class="card-text white-text-on-hover"><%= cat.page_description%></p>
         <p class="card-text white-text-on-hover"><small class="white-text-on-hover">Last updated 3 mins ago</small></p>
     </div>
 </div>
</a>
<% })  %>
</div>