<% include ../main/header %>
<body>

<div class="jumbotron jumbotron-fluid selected-category"
     style="background-image: url(<%= selected_category && selected_category.id ==='mens'?
        '/img/categories/mens.jpg' : '/img/categories/womens.jpg'%>);">
      <div class="container">
        <h1 class="display-4 themed-text"><%= selected_category? selected_category.page_title:'' %></h1>
        <hr class="my-4 themed-background">
        <p class="themed-text"><%= selected_category? selected_category.page_description:'' %></p>

    </div>
</div>



<div class=" sub-categories">
    <%  sub_category.forEach( function(sub) { %>
    <a href="/store/<%= selected_category.id +'/'+ sub.id %>" >
        <div class="card sub-category">
            <img class="card-img-top img-fluid root-category-image" src="/img/<%= sub.image%>"   alt="Card image cap">
            <div class="card-body root-category-body">
                <h5 class="card-title white-text-on-hover"><%= sub.page_title %></h5>
                <p class="card-text white-text-on-hover"><%= sub.page_description%></p>
                <p class="card-text white-text-on-hover"><small class="white-text-on-hover">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </a>
    <% })  %>
</div>



<%include ../main/footer %>
</body>
