<% include ../main/header %>


<div class="card mb-2 shopping-cart">
      <div class="card-body">

          <ul class="list-group list-group-flush ">
              <%if(products.length>0){
              products.forEach(function (pro) {
              %>
              <li class="list-group-item ">
                  <a href="<%=pro.urlToProduct%>">  <img class="cart-image" src="/img/<%=pro.image_groups[2].images[0].link%>" alt="Card image cap">
                      <%=pro.name%> </a>
<span class="cart-actions-all">

                  <form method="post" id="<%='subtract/'+pro._id%>"
                        action="<%='/user/cart/subtract-cart/'+pro._id%>">
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                      <input type="hidden" name="id" value="<%=pro._id%>"/>

                  </form>
                  <a onclick="clickSubmitId('<%='subtract/'+pro._id%>')" class="btn btn-outline-primary product-view-button">
                      <i class="material-icons">remove</i> </a>
  <h5  class="themed-text"><%=pro.qty%></h5>

                  <a onclick="clickSubmitId('<%='add-to-cart/'+pro._id%>')" class="btn btn-outline-primary product-view-button">
                      <i class="material-icons">add</i></a>
                  <form method="post" id="<%='add-to-cart/'+pro._id%>"
                                      action="<%='/user/cart/add-to-cart/'+pro._id%>">
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                      <input type="hidden" name="id" value="<%=pro._id%>"/>

                  </form>
    <h5 class="themed-text"> * <%=pro.price%>$ = <%=(pro.price*pro.qty).toFixed(2)%>$</h5>
                  <a onclick="clickSubmitId('<%='cart-remove/'+pro._id%>')" class="btn btn-outline-primary product-view-button">
                      <i class="material-icons">clear</i></a>
                  <form method="post" id="<%='cart-remove/'+pro._id%>"
                        action="<%='/user/cart/cart-remove/'+pro._id%>">
                      <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                      <input type="hidden" name="id" value="<%=pro._id%>"/>

                  </form>

    </span>
                 </li> <%
              })}%>
          </ul>
        <%if(products.length>0){
            %>
          <ul class="list-group list-group-flush ">
              <li class="list-group-item">
                  <h4 class="themed-text">Total:</h4>
                      <h4 class="themed-text cart-actions-total">
                          <%=cart.totalQty%> <%=cart.totalQty===1? 'product':'products'%>,
                          <%=cart.totalPrice.toFixed(2)%>$ </h4>
              </li>
          </ul>
          <%
        } else {
            %>
          <ul class="list-group list-group-flush ">
              <li class="list-group-item">
                  <h4 class="themed-text">Cart is empty</h4>

              </li>
          </ul>
          <%
        }%>
    </div>
</div>



<% include ../main/footer %>
