<% include ../main/header %>

<form class="form-signup" action="/user/forgot-password" method="post">
    <img class="mb-4 sign-up-img" src="https://logo.clearbit.com/nodejs.org" alt="">
    <h1 class="h3 mb-3 font-weight-normal"></h1>
    <label for="inputEmail" class="sr-only">Enter your email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <div class="checkbox mb-3">

    </div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />

    <button  class="btn btn-lg btn-outline-primary btn-block sign-up-button" type="submit">Send Reset Email</button>



</form>



<%include ../main/footer %>