<% include ../main/header %>

<div class="jumbotron">

    <div class="media">

        <div class="media-body">
            <form class="form-signup " action="/user/update-profile" method="post">
                 <h1 class="h3 mb-3 font-weight-normal">Profile</h1>
                <h6 class="<%=user.verified?'bg-success':'bg-danger'%>"><%=user.email%> is <%if(!user.verified){%> not<%}%>  verified
                    <%if(!user.verified){%> <a href="/user/resend"><small>Verify email</small></a> <%}%>
                </h6>

                <label for="inputName" class="sr-only">Name</label>
                <input type="text" minlength="3" name="name" id="inputName" class="form-control" placeholder="Name" value="<%=user.name%>" required="" autofocus="">
                <div class="checkbox mb-3"></div>

                <label for="inputSurname" class="sr-only">Surname</label>
                <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Surname" value="<%=user.surname%>" required="" autofocus="">

                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <div class="checkbox mb-3"></div>
                <button class="btn btn-lg btn-outline-primary btn-block sign-up-button" type="submit">Update</button>

            </form>
         </div>
    </div>


</div>

<%if(products.length>0){%>
<h2 class="text-center"><span class="badge badge-success ">Viewed Recently </span></h2>

<div class="card mb-2 shopping-cart viewed-items">

    <div class="card-body">

        <ul class="list-group list-group-flush ">
            <%products.forEach(function (pro) {%>
            <li class="list-group-item ">
                <a href="<%=pro.urlToProduct%>">  <img class="cart-image" src="/img/<%=pro.image_groups[2].images[0].link%>" alt="Card image cap">
                    <%=pro.name%> </a>
                <span class="cart-actions-all">



                        <form method="post" id="<%= 'remove-viewed/'+pro._id %>"
                              action="<%= '/user/remove-viewed'%>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="_id" value="<%= pro._id %>"/>

            </form>

                    <a onclick="clickSubmitId('<%= 'remove-viewed/'+pro._id %>')"
                       class="btn btn-outline-primary product-view-button products-favorite-button">
                <i class="material-icons">close</i></a>

                </span>
            </li> <%
            })%>
        </ul>

    </div>
</div>
<%}%>


<%include ../main/footer %>