<% include ../main/header %>

<form class="form-signup" action="/user/signup" method="post">
    <img class="mb-4 sign-up-img" src="https://logo.clearbit.com/nodejs.org" alt="">
    <h1 class="h3 mb-3 font-weight-normal"></h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <div class="checkbox mb-3">

    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">

    </div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <label for="inputName" class="sr-only">Name</label>
    <input type="text"  name="name" id="inputName" class="form-control" placeholder="Name (optional)"  autofocus="">
    <div class="checkbox mb-3"></div>

    <label for="inputSurname" class="sr-only">Surname</label>
    <input type="text" name="surname" id="inputSurname" class="form-control" placeholder="Surname (optional)"   autofocus="">

    <button  class="btn btn-lg btn-outline-primary btn-block sign-up-button" type="submit">Sign up</button>



</form>
<div class="form-signup">
    <button  class="btn btn-lg btn-outline-primary btn-block sign-up-button float-left" onclick="clickLink('/user/signin')"  >Already have Account</button>
    <button  class="btn btn-lg btn-outline-primary btn-block sign-up-button float-right" onclick="clickLink('/user/forgot')">Forget Password?</button>


</div>


<%include ../main/footer %>