<% include ../main/header %>

<form class="form-signup" action="/user/signin" method="post">
    <img class="mb-4 sign-up-img" src="https://logo.clearbit.com/nodejs.org" alt="">
    <h1 class="h3 mb-3 font-weight-normal"></h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <div class="checkbox mb-3">

    </div>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <div class="checkbox mb-3">

    </div>
    <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
    <button class="btn btn-lg btn-outline-primary btn-block sign-up-button" type="submit">Sign in</button>



</form>
<div class="form-signup">
    <button  class="btn btn-lg btn-outline-primary btn-block sign-up-button float-left" onclick="clickLink('/user/signup')"  >Create Account</button>
    <button  class="btn btn-lg btn-outline-primary btn-block sign-up-button float-right" onclick="clickLink('/user/forgot')">Forget Password?</button>


</div>


<%include ../main/footer %>