<% include ../main/header %>


<div class="card mb-2 shopping-cart">
    <div class="card-body">

        <ul class="list-group list-group-flush ">
            <%if(products.length>0){
            products.forEach(function (pro) {
            %>
            <li class="list-group-item ">
                <a href="<%=pro.urlToProduct%>">  <img class="cart-image" src="/img/<%=pro.image_groups[2].images[0].link%>" alt="Card image cap">
                    <%=pro.name%> </a>
                <span class="cart-actions-all">



                        <form method="post" id="<%= 'add-to-wishlist/'+pro._id %>"
                              action="<%= '/add-to-wishlist'%>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="_id" value="<%= pro._id %>"/>

            </form>
                    <%if(locals.user){%>
                    <a onclick="clickSubmitId('<%= 'add-to-wishlist/'+pro._id %>')"
                       class="btn btn-outline-primary product-view-button products-favorite-button">
                <i class="material-icons">
                    <% if(   locals.user.wishlist.indexOf(pro._id) !== -1)
                    { %>
                    favorite
                    <% } else { %>
                    favorite_border
                    <% } %>
                </i></a>
                    <%}%>

    </span>
            </li> <%
            })}%>
        </ul>

    </div>
</div>



<% include ../main/footer %>
