<div class=" product-all">
    <% products.forEach(function (pro){ %>
    <div class="card one-product">
        <img class="card-img-top" src="/img/<%= pro.image_groups[2].images[0].link %>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= pro.name %></h5>
            <p class="card-text">
                <small><%= pro.short_description %></small>
            </p>
            <form method="post" id="<%= 'add-to-cart/'+pro._id %>"
                  action="<%= '/store/'+selected_category.id+'/'+exact_category.id+'/add-to-cart/'+pro._id %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="id" value="<%= pro._id %>"/>

            </form>
            <a onclick="clickSubmitId('<%= 'add-to-cart/'+pro._id %>')"
               class="btn btn-outline-primary product-view-button"><i class="material-icons">add_shopping_cart</i>
                $<%= pro.price %></a>

            <a href="/store/<%= selected_category.id + '/' + exact_category.id + '/' + pro.url %>"
               class="btn btn-outline-primary product-view-button">More</a>

            <form method="post" id="<%= 'add-to-wishlist/'+pro._id %>"
                  action="<%= '/add-to-wishlist'%>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
                <input type="hidden" name="_id" value="<%= pro._id %>"/>

            </form>
           <%if(locals.user){%>
            <a onclick="clickSubmitId('<%= 'add-to-wishlist/'+pro._id %>')"
               class="btn btn-outline-primary product-view-button products-favorite-button">
                <i class="material-icons">
                    <% if(   locals.user.wishlist.indexOf(pro._id) !== -1)
                    { %>
                    favorite
                    <% } else { %>
                    favorite_border
                    <% } %>
                </i></a>
            <%}%>
        </div>
    </div>
    <% }) %>
</div>