
<div class=" product-all">
    <%products.forEach(function (pro){ %>
    <div class="card one-product" >
        <img class="card-img-top" src="/img/<%=pro.image_groups[2].images[0].link%>" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title"><%= pro.name%></h5>
            <p class="card-text"><small><%= pro.short_description%></small></p>

            <form method="get" id="<%='add-to-cart/'+pro._id%>"
                  action="<%='/search/add-to-cart/'%>">

                <input type="hidden" name="id" value="<%=pro._id%>"/>

            </form>
            <a onclick="clickSubmitId('<%='add-to-cart/'+pro._id%>')" class="btn btn-outline-primary product-view-button">
                <i class="material-icons">add_shopping_cart</i> $<%=pro.price%></a>
            <a href="<%=pro.urlToProduct%>" class="btn btn-outline-primary product-view-button">More info</a>
        </div>
    </div>
    <%})%>
</div>