<% include ../main/header %>


<div class="jumbotron">
    <div class="media">
        <img class="align-self-start mr-3 product-image"  src="/img/<%=product.image_groups[0].images[0].link%>" alt="Generic placeholder image">
        <div class="media-body">
            <h5 class="mt-0"><%=product.name%></h5>
            <p><%=product.long_description.length>product.short_description.length?product.long_description:product.short_description%></p>
            <form method="post" id="<%='add-to-cart/'+product._id%>"
                  action="<%='/store/'+ selected_category.id+'/'+product.primary_category_id+'/'+product.url+'/add-to-cart/'+product._id%>">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>" />
                <input type="hidden" name="id" value="<%=product._id%>"/>

            </form>
            <a onclick="clickSubmitId('<%='add-to-cart/'+product._id%>')" class="btn btn-outline-primary product-view-button"><i class="material-icons">add_shopping_cart</i> $<%=product.price%></a>

        </div>
    </div>

    <hr class="my-4">
    <p><%=product.long_description.length<product.short_description.length?product.long_description:product.short_description%></p>
    <a class="btn btn-outline-primary " href="#" role="button">Learn more</a>
</div>

<%include ../main/footer %>