<footer class="footer">
    <div class="container">
        <a  class="text-white" href="https://bitbucket.org/yur333/opennode" target="_blank">
            <i class="material-icons mr-3">link</i>
            Bitbucket</a>
    </div>
</footer>