
<header class="navbar sticky-top navbar-dark navbar-full bg-primary ">
    <button aria-controls="navdrawerDefault" aria-expanded="false" aria-label="Toggle Navdrawer" class="navbar-toggler"
            data-target="#navdrawerDefault" data-toggle="navdrawer"><span class="navbar-toggler-icon"></span></button>
    <span class="navbar-brand mr-auto"   >
        <a href="/" class="text-white app-name" onclick="clickLink('/')">OpenNode</a>
         <ol class="breadcrumb bg-primary">
    <li class="breadcrumb-item text-hide btn btn-outline-primary zero-url"><a href="javascript:void(0)"></a></li>
             <% url.forEach( function(u){%>
             <li onclick="clickLink('<%=u.url%>')" class="breadcrumb-item  btn btn-outline-primary "><a href="<%=u.url%>"><%= u.label.charAt(0).toUpperCase() + u.label.slice(1)%></a></li>
             <% }) %>

        </ol>

        <% root_category.forEach( function(cat) { %>
        <li class="nav-item ">
        <a   class="btn btn-outline-primary nav-link main-links nav-item <%=  cat.id== 'mens'? 'first': '' %>" href="<%= '/store/'+cat.id %>"> <%= cat.name%></a>
    </li>
        <% }) %>


    </span>
    <li class="nav-item cart-button">
        <%if (session.cart && session.cart.totalQty>0) {%> <a href="/user/cart" class="btn btn-outline-primary  float-right" >
            <i class="material-icons" aria-hidden="true">shopping_cart</i>
            <span class="badge"> <%=session.cart.totalQty%> </span>
        </a>
        <%}%>
        <%if (locals.user&& locals.user.wishlist.length>0) {%>   <a href="/user/wishlist" class="btn btn-outline-primary  float-right" >
            <i class="material-icons" aria-hidden="true">favorite</i>
            <span class="badge"><%=locals.user.wishlist.length%> </span>
        </a>
        <%}%>

        <form class="form-inline" id="search" method="get" action="/search">
            <div class="input-group input-group-sm ">

                <input type="text" value="<%=locals.query?query:''%>" name="q"
                       class="form-control search-input" placeholder="Search" aria-label="Search" aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <span onclick="clickSubmitId('<%='search'%>')" class="input-group-text" id="basic-addon1"><i class="material-icons search-icon">search</i> </span>
                </div>     </div>
        </form>
    </li>


    <li class="nav-item ">
        <div class="dropdown ">
            <button class="btn btn-outline-primary dropdown-toggle account-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">account_circle</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <%if(user){%>
                <a class="dropdown-item item-dropdown  " href="/user"><%= user.name%> <%= user.surname%> </a>
                <a class="dropdown-item item-dropdown  " href="/logout">Logout</a>
               <%}
                else {%>
                <a class="dropdown-item item-dropdown  " href="/user/signin">Sign In</a>
                <a class="dropdown-item  item-dropdown " href="/user/signup">Sign Up</a>

                <%}
                %>
            </div>
        </div>
    </li>


</header>
<div class="navdrawer navdrawer-default" id="navdrawerDefault" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="navdrawer-content">
        <div class="navdrawer-header" onclick="clickLink('/')">
            <a href="/" class="navbar-brand px-0 " >OpenNode Store</a>
        </div>
        <nav class="navdrawer-nav">
            <% root_category.forEach( function(cat){ %>
            <a class="nav-item nav-link " href="/store/<%= cat.id %>"><%= cat.name.charAt(0).toUpperCase() + cat.name.slice(1)%></a>
            <% }) %>

        </nav>
        <div class="navdrawer-divider"></div>
        <p class="navdrawer-subheader">About</p>
        <ul class="navdrawer-nav">


                <a class="nav-item nav-link bitbucket" href="https://bitbucket.org/yur333/opennode" target="_blank"><i
                            class="material-icons mr-3">link</i> Bitbucket</a>

        </ul>
    </div>
</div>

